<!--The content below is only a placeholder and can be replaced.-->
<!-- TODO:
       • ng generate module app-routing --module app --flat -->
<h1>Routing</h1>
<nav>
  <!-- <a routerLink="/balls" routerLinkActive="active">Ballsy Just Testing - Matter-js</a> -->
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/triangle" routerLinkActive="active">Triangle</a>
  <a routerLink="/test" routerLinkActive="active">Just Testing</a>
  <a routerLink="/countDownTimer" routerLinkActive="active">Count Down Timer ⏱</a>
  <a routerLink="/sacredLorem" routerLinkActive="active">Sacred Lorem Ipsum 📜</a>
</nav>
<router-outlet></router-outlet>

<app-scroll-drawing></app-scroll-drawing>


<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>

  <app-jhey-triangle></app-jhey-triangle>

<h1> {{1234567 | fileSize}} </h1>           <!--Result: 1.18MB -->
<h1> {{31415926535897932 | fileSize}} </h1> <!--Result: 29960562263.39MB -->
<h1> {{11235813345589144 | fileSize}} </h1> <!--Result: 10715306611.62MB -->
<h2> {{100 | kapital: 10 : 6}} </h2>        <!--Result: 179 -->
<h2> {{100 | kapital: 16 : 7}} </h2>        <!--Result: 295 -->
<h3> {{150 | kapital: 10 : 6}} </h3>        <!--Result: 269 -->
<h3> {{200 | kapital: 10 : 6}} </h3>        <!--Result: 358 -->
<h3> {{100 | valuta}} </h3>                 <!--Result: 751 € -->
<h3> {{200 | valuta}} </h3>                 <!--Result: 1502 € -->

<test></test>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

<app-balls></app-balls>